<script id="CartTemplate" type="text/x-handlebars-template">
<div class="cart-title block s1 u-center">
	<h2>{{ 'cart.labels.cart_title' | t }}</h2>
	<p>{{ 'cart.labels.total_items' | t }} (<span id="CartItemCount">{% raw %}{{item_count}}{% endraw %}</span>)</p>
</div>

<form action="/cart" method="post">
	<div class="cart-table d-table">
		<div class="med_hide d-table-header">
			<div class="d-table-row">
				<div class="cart-product-thumb d-table-cell"></div>
				<div class="d-table-cell"></div>
				<div class="cart-product-quantity d-table-cell">
					<span class="c-gray">{{ 'cart.labels.quantity' | t }}</span>
				</div>
				<div class="cart-product-total d-table-cell">
					<span class="c-gray">{{ 'cart.labels.total' | t }}</span>
				</div>
				<div class="cart-product-remove d-table-cell"></div>
			</div>
		</div>

		<div id="CartItems" class="med_d-block d-table-row-group">
			{% raw %}
				{{#items}}

				<div class="line-item med_u-container med_u-block med_u-row d-table-row" data-variant-id="{{ itemVariantId }}">
					<div class="cart-product-thumb med_u-block med_d-block d-table-cell">
						<a class="product-thumbnail lazyload fade-in" href="{{ url }}" data-bgset="{{ img }}" data-sizes="auto" data-parent-fit="cover"></a>
					</div>
					<div class="cart-product-desc med_u-block med_d-block d-table-cell">
						<a class="h3" href="{{ url }}">{{ name }}</a>
						{{#if variation}}
							<p class="u-margin-0">{{ variation }}</p>
						{{/if}}
						<p class="product-price u-margin-0" data-price="{{price}}">
							<span>{{{priceFormatted}}}</span>
						</p>
					</div>
					<div class="cart-product-quantity med_u-block med_d-block d-table-cell">
						<div class="js-counter counter inputGroup">
							<input type="text" name="updates[]" id="updates_{{id}}" class="inputCounter" value="{{itemQty}}" />
							<span class="inputCounter-up"><span class="icon-plus"></span>&nbsp;</span>
							<span class="inputCounter-down">&nbsp;<span class="icon-minus"></span></span>
						</div>
					</div>

					<div class="cart-product-total med_u-block med_d-block d-table-cell">
						<div class="cart-product-total-price">{{{linePriceFormatted}}}</div>
						{{{discounts}}}
					</div>

					<div class="cart-product-remove med_d-block-ab d-table-cell">
						<i class="icon-close h4"></i>
					</div>
				</div>

				{{/items}}
			{% endraw %}

		</div>
	</div>
	<span class="clear-both"></span>
	<div class="checkout-buttons row inline">
	    <div class="block s1 u-right u-margin-b-sm">
	    	<div class="cart-totals-table">
		     <p class="cart-total-price">
			        <span>{{ 'cart.labels.subtotal' | t }}:</span>
			    	<span>{% raw %}{{{totalPrice}}}{% endraw %}</span>
			    </p>
					{% raw %}{{{totalDiscounts}}}{% endraw %}
			</div>

	        {% if settings.tax_text %}
	        	<p class="cart-tax-info">{{ settings.tax_text }}</p>
	        {% endif %}

	    </div>
      {% if settings.enable_cart_order_notes %}
        <div class="order-notes">
          <label class="order-notes__label" for="order-notes">{{ 'cart.labels.notes' | t }}</label>
          <textarea id="order-notes" class="order-notes__content" name="note"></textarea>
        </div>
      {% endif %}
			<button class="cart-checkout s1 sm_s12 med_s25 lg_s13 xxl_s14 u-margin-b-sm" type="submit" name="checkout">{{ 'cart.labels.checkout' | t }}</button>
	    <a href="{% raw %}{{{ continue_shopping_url }}}{% endraw %}" class="js-continueShopping button s1 sm_s12 med_s25 lg_s13 xxl_s14 u-margin-b-sm">{{ 'cart.labels.continue_shopping' | t }}</a>
	</div>
	{% if additional_checkout_buttons %}
		<div class="additional-checkout-buttons row inline">
			{{ content_for_additional_checkout_buttons }}
		</div>
	{% endif %}
</form>
</script>
