<form class="productForm pseudoform" action="/cart/add" method="post">
	<div class="productForm-block">
		<select id="product-select--{{section.id}}" name="id">
			{%- for variant in currentProduct.variants -%}
				<option{% if variant == currentProduct.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}" data-sku="{{variant.sku}}">
					{{ variant.title }} - {{ variant.price | money | strip_html }}
				</option>
			{%- endfor -%}
		</select>
	</div>

	<div class="productForm-block">
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<meta itemprop="priceCurrency" content="{{ shop.currency }}">
			<link itemprop="availability" href="http://schema.org/{% if currentProduct.available %}InStock{% else %}OutOfStock{% endif %}">

			<div class="product-price" data-price="{{ product.price }}">
				<div class="product-normal-price" itemprop="price">{{ 9900 | money }}</div>
			</div>
		</div>
	</div>

	{%- if section.settings.show_quantity -%}
		<div class="productForm-block">
			<div class="productForm-select">
				<label for="quantity">{{ 'products.form.qty' | t }}</label>
				<select name="quantity" id="quantity">
				{%- for i in (1..9) -%}
					<option value="{{ i }}">{{ i }}</option>
				{%- endfor -%}
				</select>
				<span class="selectArrow"></span>
			</div>
		</div>
	{%- endif -%}

	<div>
		<button class="productForm-submit js-productForm-submit" type="submit" data-handle="{{product.handle}}" data-parent-id="{{section.id}}">{{ 'products.form.submit' | t }}</button>
	</div>
</form>
