{% comment %} Wholesale {% endcomment %}
<div data-section-id="{{ section.id }}" data-section-type="wholesale-template">
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'banner' %}
        {% comment %} Banner Settings {% endcomment %}
        {% assign image = block.settings.image %}
        {% assign height = block.settings.height %}
        {% assign subheading = block.settings.subheading %}
        {% assign heading = block.settings.title %}
        {% assign text = block.settings.text %}
        {% assign text_position = block.settings.text_position %}
        {% assign heading_size = block.settings.heading_size %}
        {% assign text_size = block.settings.text_size %}
        {% assign color_text = block.settings.color_text %}
        {% assign color_overlay = block.settings.color_overlay %}
        {% assign overlay_opacity = block.settings.overlay_opacity | times: 0.01 | round: 2 %}

        <style>
          .banner--{{ block.id }} .page-title { color: {{ color_text }}; }
          .banner--{{ block.id }} .page-title h1 { color: {{ color_text }} !important; }
          .banner--{{ block.id }} .page-title::before { background-color: {{ color_overlay }}; opacity: {{ overlay_opacity }}; }
        </style>

        <section class="banner banner--{{ block.id }} {% if forloop.index == 1 %}banner--collections{% endif %}" {{ block.shopify_attributes }} data-block="banner" data-header-style="{% if forloop.index == 1 %}index{% endif %}">
          <div class="banner-inner banner-padded banner-padded--{{ height }} banner--text-{{ text_position }}">
            {% unless height == 'original-height' %}
              {% unless image == blank %}
                <div class="banner-img lazyload fade-in" data-bgset="{% include 'bgset', image: image %}" data-sizes="auto" data-parent-fit="cover"></div>
                <noscript>
                  <div class="banner-img" style="background-image:url('{{image | img_url: '1024x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
                </noscript>
              {% else %}
                <div class="banner-img banner-img--placeholder svg-placeholder">
                  {{ 'image' | placeholder_svg_tag }}
                </div>
              {% endunless %}
            {% else %}
              {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
              {% include 'theme-rias' %}
              <img class="banner-img--original lazyload fade-in"
                   data-src="{{ image_url_pattern }}"
                   data-widths="[{{ image_widths }}]"
                   data-aspectratio="{{ image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ image.alt }}">
              <noscript>
                <img src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}" class="banner-img--original no-js-image">
              </noscript>
            {% endunless %}

            {% unless heading == blank and subheading == blank and text == blank %}
              <div class="page-title">
                <div class="container">
                  <div class="row row-lg">
                    {% if subheading != blank %}
                      <h4 class="page-title__subheading subheading-text">{{ subheading }}</h4>
                    {% endif %}
                    {% if heading != blank %}
                      <h1 class="page-title__heading size--{{ heading_size }}">{{ heading }}</h1>
                    {% endif %}
                  </div>
                  {% if text != blank %}
                    <div class="row row-lg">
                      <div class="page-title__text rte size--{{ text_size }}"><p>{{ text }}</p></div>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endunless %}
          </div>
        </section>
      {% endif %}
    {% endfor %}

  {% endif %}

  <section class="features-block bordered">
    <div class="features-container">
      <div class="feature">
        <img class="feature-image" src="{{ 'world.svg' | asset_url }}" alt="world" />
        <h6 class="feature-title">Worldwide</h6>
        <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div class="feature">
        <img class="feature-image" src="{{ 'wholesale.svg' | asset_url }}" alt="world" />
        <h6 class="feature-title">Inventory</h6>
        <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div class="feature">
        <img class="feature-image" src="{{ 'order.svg' | asset_url }}" alt="world" />
        <h6 class="feature-title">Shipping</h6>
        <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>
  </section>

  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'contact' %}
        {% assign image = block.settings.image %}

        <section class="contacts-block bordered">
          <div class="column">
            {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
            {% include 'theme-rias' %}
            <img class="banner-img--original lazyload fade-in"
                 data-src="{{ image_url_pattern }}"
                 data-widths="[{{ image_widths }}]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt }}">
            <noscript>
              <img src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}" class="banner-img--original no-js-image">
            </noscript>
          </div>
          <div class="column">
            {% include 'contact-form' %}
          </div>
        </section>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Wholesale page",
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "height",
          "label": "Height",
          "options": [
              {
                "value": "one-hundred",
                "label": "Full screen height"
              },
              {
                "value": "original-height",
                "label": "Image height"
              },
              {
                "value": "big",
                "label": "750px"
              },
              {
                "value": "normal",
                "label": "650px"
              },
              {
                "value": "small",
                "label": "550px"
              }
            ],
            "default": "normal"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Welcome to Modular"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>A unique layout with a striking design</p>"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "default": "center",
          "options": [
            { "label": "Left", "value": "left" },
            { "label": "Center", "value": "center" },
            { "label": "Right", "value": "right" },
            { "label": "Bottom left", "value": "bottom-left" },
            { "label": "Bottom right", "value": "bottom-right" }
          ]
        },
        {
          "type": "header",
          "content": "Typography"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "normal",
          "options": [
            { "label": "Small", "value": "small" },
            { "label": "Normal", "value": "normal" },
            { "label": "Large", "value": "large" },
            { "label": "Extra large", "value": "xlarge" }
          ]
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "default": "normal",
          "options": [
            { "label": "Small", "value": "small" },
            { "label": "Normal", "value": "normal" },
            { "label": "Large", "value": "large" },
            { "label": "Extra large", "value": "xlarge" }
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_overlay",
          "label": "Overlay",
          "default": "#222222"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "step": 1,
          "max": 100,
          "min": 0,
          "unit": "%",
          "default": 10
        }
      ]
    }
  ]
}
{% endschema %}
